body {
  background-image: url("../images/jungle.jpg");
}

#animals {
  display: inline-block;
  width: 200px;
  height: 200px;
}

#animalButtons {
  text-align: center;
  font-size: large;
  margin-top: 100px;
}
button .animal {
  font-size: 20px;
}

#addButton {

  background: white;
}

#animal-form {
  font-size: 20px;
  text-align: center;

}

#animal-input {
  font-size: 20px;
}

#addAnimal {
  font-size: 25px;
}
